<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgpPil79TzGmGtpXXHYu0_DnR4B3cylHM</string>
	<key>GCM_SENDER_ID</key>
	<string>1025632038015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nightFallRestaurantAdmin</string>
	<key>PROJECT_ID</key>
	<string>night-fall-restaurant</string>
	<key>STORAGE_BUCKET</key>
	<string>night-fall-restaurant.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025632038015:ios:729718b732a3687641234a</string>
</dict>
</plist>